Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
Werkzeug==3.0.3
SQLAlchemy==2.0.30
email-validator==2.1.1
python-dotenv==1.0.1
authlib==1.4.0
requests==2.32.3
psycopg2-binary==2.9.9
pyotp==2.9.0
python-docx==1.1.2
fpdf2==2.8.1
pywebpush==2.0.0
